services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: monitor_api
    restart: always

    networks:
      - pi_default

    ports:
      - "8123:8000"

    volumes:
      - ./src:/app/src

    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  pi_default:
    external: true
